@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<a href="~/Views/Home/ViewPage1.cshtml">~/Views/Home/ViewPage1.cshtml</a>
<body>
    <div>

    </div>
</body>
</html>
